<header>
  <h1>
    <a href="/">
      <img src="/img/logo.svg" alt="The Startup Stack" width="100">
    </a>
    <p>The Startup Stack</p>
  </h1>

  <nav>
    <ul class="sidebar-menu">
      {% assign url = page.url %}
      {% if url == "/" %}
        {% assign url = "/overview/welcome/" %}
      {% endif %}
      {% for item in site.collections %}
        {% assign collection = item[1] %}
        {% if collection.output %}
          {% assign parts = url | split: "/" %}
          <li class="nav-item sub-menu {% if parts[1] == collection.active_prefix %}active{% endif %}">
            {% assign items = collection.docs | sort: 'order' %}
            <a href="{{ items.first.url }}">
              <i class="{{ collection.icon }}"></i>
              {{ collection.title }}
            </a>
            {% include secondary-nav-items.html items=items %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
