---
layout: default
---

<section class="main">
  <div class="page-header">
    <h2>{% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h2>
    <h3>{{ section }}</h3>
  </div>

  <article class="content tk-lato article-wrap">
    {{ content }}
  </article>

  <div class="content right-align">
    <a href="{{ page.path | page_edit_path }}">Edit This Page</a> |
    <a href="{{ page.path | page_history_path }}">Page History</a>
  </div>

  <div class="footer">
    <p class="with-love">
      Brought to you with <span class="heart">♥</span> by <a href="http://avi.io">Avi Tzurel</a>
    </p>
  </div>

</section>
