---
layout: default
---

<section class="main">
  <div class="page-header">
    <h2>{% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h2>
    <h3>{{ section }}</h3>
  </div>

  <article class="content tk-lato article-wrap">

    {% if page.partial %}
      <div class="alert alert-info" role="alert">
        <h4>
          <p>
            <strong>Partial Document</strong>
          </p>
          <p>
            This document is flagged as partial / incomplete. <br />
            It's likely a work in progress.
          </p>
          <p>
            If you feel you can contribute please <a href="{{ page.path | page_edit_path }}">Edit This Page</a>
          </p>
        </h4>
      </div>
      {% endif %}

    {{ content }}
  </article>

  <div class="content right-align">
    <a href="{{ page.path | page_edit_path }}">Edit This Page</a> |
    <a href="{{ page.path | page_history_path }}">Page History</a>
  </div>

  <div class="footer">
    <p class="with-love">
      Brought to you with <span class="heart">♥</span> by <a href="http://avi.io">Avi Tzurel</a>
    </p>
  </div>

</section>
